<%# Add edit and and update 
actions in the articles controller.%>

<h1>Edit article</h1>
<%= render 'form' %>

<%# allows return to article path%>

<%= link_to 'Cancel and return to articles listing', articles_path %>