<%#The index action in a controller is used to display a 
summarized listing of all the items in a table. 
If there are big blog posts as each item, then the 
index would usually contain either a summary of the 
post or a few hundred characters that link to the actual post.%>

<h1>Article listing page</h1>

<table> 
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
<tbody>
<% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.description %></td>
            <td>Some Placeholder</td>
        </tr>
        <% end %>
    </tbody>
</table>