<%# this is a form partial%>

<%# In order to display the messages, we add the 
    following code block to the edit.html.erb template.
    This is the same template as new.html%>
<% if @article.errors.any? %>
<h2> The following erros prevented the articles from being saved </h2>>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>