<h1> Welcome to the About page</h1>

<%= link_to 'Articles listing', articles_path %> |

<%# Home page is the root path so there is need to have it go to the about page %>
<%= link_to 'Home Page', root_path %>