<%#create a home html to display text in broswer%>
<h1>Hello World!</h1>
<%# Emit makes generating HTML tags verysimple %>

<h1> Welcome to the HomePage</h1>

<%# these help return to the about or article listing%>

<%= link_to 'Articles listing', articles_path %> |

<%= link_to 'About page', about_path %>