<%#create a home html to display text in broswer%>
<%#<h1>Hello World!</h1>
<%# Emit makes generating HTML tags verysimple %>

<%#<h1> Welcome to the HomePage</h1>

<%# these help return to the about or article listing%>

<%#= link_to 'Articles listing', articles_path %> |

<%#= link_to 'About page', about_path %>

<div class="container" id= "home-container">
    <div class="jumbotron text-center text-black">
    <h1 class="display-4">Alpha Blog!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Sign-Up</a>
    </p>
    </div>
</div>